.schedule-table__header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.schedule-table__button{

    padding:10px 18px;

    background:var(--color-success);

    color:#FFF;

    border-radius:8px;

}

.schedule-table__body{

    overflow:auto;

}

.schedule-table__table{

    width:100%;

}

.schedule-table__head{

    background:var(--color-primary);

    color:#FFF;

}

.schedule-table__table th,
.schedule-table__table td{

    padding:12px;

    border:1px solid var(--color-border);

    text-align:center;

}

.schedule-table__tbody tr:nth-child(even){

    background:#F8FAFC;

}

.schedule-table__tbody tr:hover{

    background:#E8F0FE;

}