:root{

    /* Cores */

    --color-primary:#2563EB;
    --color-primary-dark:#1D4ED8;

    --color-success:#16A34A;
    --color-danger:#DC2626;

    --color-background:#F3F6FA;
    --color-surface:#FFFFFF;

    --color-border:#D5D9E0;

    --color-text:#1F2937;
    --color-text-light:#6B7280;

    /* Espaçamentos */

    --space-1:.5rem;
    --space-2:1rem;
    --space-3:1.5rem;
    --space-4:2rem;
    --space-5:3rem;

    /* Bordas */

    --radius:12px;

    /* Sombra */

    --shadow:0 10px 30px rgba(0,0,0,.08);

    /* Container */

    --container:1280px;

}