 :root {
        --verde-50:  #f0fdf4;
        --verde-100: #dcfce7;
        --verde-200: #bbf7d0;
        --verde-300: #86efac;
        --verde-400: #4ade80;
        --verde-500: #22c55e;
        --verde-600: #16a34a;
        --verde-700: #15803d;
        --verde-800: #166534;
        --verde-900: #14532d;         
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            color: #fff;
            background:var(--verde-900);
            padding: 10px;
            max-width: 450px;
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
        }
        .header {

            width: 100%;

        }
        .header__container {
            width: 100%;
            box-shadow: 0 2px 0 #00ff2f32;
        
        }
        .header__photo {
            width: 100%;
            }
        .hero {
            width: 100%;
            margin-top: 10px;
        }
        .hero__photo {
            margin: 0 auto 10px;
            display: block;
            /* padding: 20px; */

            width: 90%;
        }

        /* ANIMAÇÃO */
        @keyframes anima {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.05);
            }
        }
        .hero__photo {
            animation: anima; 
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        .form {

            max-width: 100%;
            border: 1px solid var(--verde-900);
            border-radius: 10px;
            padding: 5px;

            display: flex;  
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
        }
        .form__placar {
            border: 1px solid white;
            padding: 5px;
            border-radius: 5px;

            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .form__label {
            font-size: 10px;
            font-weight: bold;
            // color: var(--verde-900);
            color: #ffee00;
        }
        .form__vs {
            color: #16683a;
        }
        .form__input {
            width: 70px;
            padding: 5px;
            border-radius: 5px;
            font-size: 16px;

            text-align: center;
            color: var(--verde-900);
        } 
 /* SUBMIT */
        
        .submit {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .submit__btn {
            width: 200px;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;
        }

        .submit__btn:hover {
            transform: scale(1.2);
        }



        
        .erro__text {
            display: block;
            background: yellow;
            color: red ;
            text-align: center;
            position: absolute;
            top: -5px;
            font-size: 12px;
            
        }
        .erro__text.ativo {
            display: none;
        }  
            
        table {
            margin: 0 auto;
            width: 100%;
            border-collapse: collapse;
            // color: #14532d;
            // color: #ffee00;
            font-size: 11px;
        }
        thead {
            // background: yellow;
            color: #ffee00
            
        }
        th, td {
        border: 1px solid #03b300;
        padding: 5px;
        text-align: center;
        }
        .hidden {
            display: none;
        }

        @media print {
         .header {
            display: none;
         }
            table, th {
                color: #000;
            }
        }